---
permalink: /meet-me
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }} - Meet Me</title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>
<body>

{% include header.html %}
    
       
<section>

      <style>
         * {
         box-sizing: border-box;
         }
         body {
         font-family: Verdana, sans-serif;
         }
         .mySlides {
         display: none;
         }
         img {vertical-align: middle;}
         /* Slideshow container */
         .slideshow-container {
         max-width: 1000px;
         position: relative;
         margin: auto;
         }
         /* The dots/bullets/indicators */
         .dot {
         height: 15px;
         width: 15px;
         margin: 0 2px;
         background-color: #bbb;
         border-radius: 50%;
         display: inline-block;
         transition: background-color 0.6s ease;
         }
         .active {
         background-color: #717171;
         }
         /* Fading animation */
         .fade {
         -webkit-animation-name: fade;
         -webkit-animation-duration: 1.5s;
         animation-name: fade;
         animation-duration: 1.5s;
         }
         @-webkit-keyframes fade {
         from {opacity: .4} 
         to {opacity: 1}
         }
         @keyframes fade {
         from {opacity: .4} 
         to {opacity: 1}
         }
      </style>
      <h3>Meet Pearl </h3>
      <h4>"Grow Through What You are Going Through"</h4>
      <p>Hailing from the windy city of Chicago, Illinois, Dr. Pearl A. Pugh currently serves as a Software/Hardware Program Manager 
        for the Federal Government. Dr. Pugh received her Doctorate of Information Technology with a concentration in Project Management 
        from Capella University in 2020, a Masters of Science in Computer Science from Norfolk State University in 2014 and a Bachelors 
        of Science in Computer Science from The University of Arkansas Pine Bluff in 2012.
         Aside from being a Software/Hardware Program Manager, Dr. Pugh is the Owner/CEO of Unlimited Treasures of Pearl, an online 
        boutique providing synergy between crafting and fashion. Dr. Pugh is also a proud member of Alpha Kappa Alpha Sorority Inc. 
        where she serves faithfully. She is the wife of Terrence Pugh, a Software Engineer. Together they have two sons Tahj and Tycen. 
        She is woman grounded with high ethical standards, steeped in faith to Christ. Dr. Pugh is a strong believer in meritorious academic 
        achievement, and a committed servant to the needs and importance of community.  She takes pride in everything that she does. 
        Her Mantra is “Trusting God through the Process.”
      </p>
      <div class="slideshow-container">
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/1.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/2.JPG" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/3.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/4.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/5.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/6.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/7.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/8.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/9.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/10.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/11.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/12.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/13.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/14.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/15.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <img src="{{ site.github.url }}/assets/pearl-image/16.jpg" style="width:100%">
         </div>
        
      </div>
      <br>
      <div style="text-align:center"> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
      </div>
      <script>
         var slideIndex = 0;
         showSlides();
         
         function showSlides() {
           var i;
           var slides = document.getElementsByClassName("mySlides");
           var dots = document.getElementsByClassName("dot");
           for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";  
           }
           slideIndex++;
           if (slideIndex > slides.length) {slideIndex = 1}    
           for (i = 0; i < dots.length; i++) {
             dots[i].className = dots[i].className.replace(" active", "");
           }
           slides[slideIndex-1].style.display = "block";  
           dots[slideIndex-1].className += " active";
           setTimeout(showSlides, 3000); // Change image every 2 seconds
         }
      </script>
   
  
  <form class="gform pure-form pure-form-stacked" method="POST" data-email="example@email.net"
    action="https://script.google.com/macros/s/AKfycbwVe79AlijuH6JW4rq3M_iY0ry2qEwk-ZKzybWl/exec">
      <div class="form-elements">
        
        <fieldset class="pure-group">
          <label for="name">Your Name: </label>
          <input id="name" name="name" placeholder="name" required />
        </fieldset>
      <br>
        <fieldset class="pure-group">
          <label for="email">Your Email Address:</label>
          <input id="email" name="email" type="email" value=""
          required placeholder="example@example.com"/>
        </fieldset>
      <br>
      <fieldset class="pure-group">
          <label for="phone">Your Phone Number: </label>
          <input id="phone" name="phone" placeholder="9876543210" type="number" required minlength="10"/>
        </fieldset>
      <br>
  
        <fieldset class="pure-group honeypot-field">
          <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot.</label>
          <input id="honeypot" type="text" name="honeypot" value="" />
        </fieldset>
  
        <fieldset class="submit-wrap">
           <input type="submit" value="Send">
        </fieldset>
      </div>
  
      <!-- Customise the Thankyou Message People See when they submit the form: -->
      <div class="thankyou_message" style="display:none;">
        <h2><em>Thanks</em> for contacting us!
          We will get back to you soon!</h2>
      </div>
  
    </form>
    <style>
    .honeypot-field {
      display: none;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
      (function() {
    // get all data in form and return object
    function getFormData(form) {
      var elements = form.elements;
      var honeypot;
  
      var fields = Object.keys(elements).filter(function(k) {
        if (elements[k].name === "honeypot") {
          honeypot = elements[k].value;
          return false;
        }
        return true;
      }).map(function(k) {
        if(elements[k].name !== undefined) {
          return elements[k].name;
        // special case for Edge's html collection
        }else if(elements[k].length > 0){
          return elements[k].item(0).name;
        }
      }).filter(function(item, pos, self) {
        return self.indexOf(item) == pos && item;
      });
  
      var formData = {};
      fields.forEach(function(name){
        var element = elements[name];
        
        // singular form elements just have one value
        formData[name] = element.value;
  
        // when our element has multiple items, get their values
        if (element.length) {
          var data = [];
          for (var i = 0; i < element.length; i++) {
            var item = element.item(i);
            if (item.checked || item.selected) {
              data.push(item.value);
            }
          }
          formData[name] = data.join(', ');
        }
      });
  
      // add form-specific values into the data
      formData.formDataNameOrder = JSON.stringify(fields);
      formData.formGoogleSheetName = form.dataset.sheet || "responses"; // default sheet name
      formData.formGoogleSendEmail
        = form.dataset.email || ""; // no email by default
  
      return {data: formData, honeypot: honeypot};
    }
  
    function handleFormSubmit(event) {  // handles form submit without any jquery
      event.preventDefault();           // we are submitting via xhr below
      var form = event.target;
      var formData = getFormData(form);
      var data = formData.data;
  
      // If a honeypot field is filled, assume it was done so by a spam bot.
      if (formData.honeypot) {
        return false;
      }
  
      disableAllButtons(form);
      var url = form.action;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url);
      // xhr.withCredentials = true;
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            form.reset();
            var formElements = form.querySelector(".form-elements")
            if (formElements) {
              formElements.style.display = "none"; // hide form
            }
            var thankYouMessage = form.querySelector(".thankyou_message");
            if (thankYouMessage) {
              window.location = '/Pearl/form-success';
            }
          }
      };
      // url encode form data for sending as post data
      var encoded = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + "=" + encodeURIComponent(data[k]);
      }).join('&');
      xhr.send(encoded);
    }
    
    function loaded() {
      // bind to the submit event of our form
      var forms = document.querySelectorAll("form.gform");
      for (var i = 0; i < forms.length; i++) {
        forms[i].addEventListener("submit", handleFormSubmit, false);
      }
    };
    document.addEventListener("DOMContentLoaded", loaded, false);
  
    function disableAllButtons(form) {
      var buttons = form.querySelectorAll("button");
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].disabled = true;
      }
    }
  })();
  
    </script>
  
  </section>
  

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/functions.js"></script>
</body>
</html>
