<div class="container">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
    Subscribe Form
  </button>  
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password1">Confirm Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
        .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem;
}

.panel {
  border-radius: 4px;
  padding: 1rem;
  margin-top: 0.2rem;
  background-color: #f5f5f5;
  color: #323b40;
}
.panel.panel-blue {
  background-color: #e0f5ff;
  color: #00a5fa;
}
.panel.panel-big-height {
  min-height: 150px;
}

.item {
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.2rem;
}
.item.item-blue {
  background-color: #b9e5fe;
  color: #00a5fa;
}
.item.item-green {
  background-color: #b7e0dc;
  color: #019888;
}
.item.item-lime {
  background-color: #c7e8c8;
  color: #42b045;
}
.item.item-yellow {
  background-color: #ffeeba;
  color: #ff9901;
}
.item.item-pink {
  background-color: #fabad0;
  color: #ef075f;
}
.item.item-red {
  background-color: #fec9c6;
  color: #fd3d08;
}
.item.item-big-width {
  min-width: 380px;
}
</style>
